<?xml version="1.0"?>
<model>
  <name>3DR Iris with realsense camera</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_realsense_camera.sdf</sdf>

  <author>
   <name>Li Jiye</name>
   <email>1296438166@qq.com</email>
  </author>

  <description>
	px4(iris) + xtdrone(realsense_camera)
  </description>
</model>
